<!DOCTYPE html>
<html lang="en-us">

    <head>
        <meta charset="UTF-8">
        <title>Climate App</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
        <!-- <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='../static/style.css') }}"> -->
        <!-- <link rel="stylesheet" type="JavaScript" href= "{{ url_for('static', filename='../static/js/app.js') }}"> -->
        <link rel="stylesheet" href= "../static/style.css">
    
    </head>

    <body>
    
    <div class="container">
        <div class="row">
            <!--Title-->
            <div class="col-md-12 text-center jumbotron">
                <h1>Welcome to the Climate App!</h1>
            </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Available Routes:</h2>
            </div>
        </div>

    <div class="row topRow">
        <div class="col-md-3 text-center" id="top-row-box">
            <p>Find precipitation data for the last year: 
            <a href="/api/v1.0/precipitation">/api/v1.0/precipitation</a> </p>
        </div>
    
        <div class="col-md-3 text-center" id="top-row-box">
            <p>Find station data: 
            <a href="/api/v1.0/stations">/api/v1.0/stations</a> </p>
        </div>

        <div class="col-md-3 text-center" id="top-row-box">
            <p>Find temperature data for the last year at the most active station: 
            <a href="/api/v1.0/tobs">/api/v1.0/tobs</a> </p>
        </div>
    </div>

    <div class="row bottomRow">
        <div class="col-md-5 text-center" id="bottom-row-box">
            <p>Enter your own Start Date to see temperature statistics: 
            <a href="/api/v1.0/2015-01-01">/api/v1.0/2015-01-01</a> </p>
            <!-- Dropdown Menus -->
            <div class="row">
                <div class="col-md-6" id="start-date-menu">
                    
                </div>
            </div>
        </div>

        <div class="col-md-5 text-center" id="bottom-row-box">
            <p>Enter your own Start Date and End Date to see temperature statistics: 
            <a href="/api/v1.0/2015-01-01/2016-01-01">/api/v1.0/2015-01-01/2016-01-01</a> </p>

            <!-- Dropdown Menus -->
            <div class="row">
                <div class="col-md-6" id="start-date-form">
                    <!--Start Date Form-->
                    <form id="form">
                        <!--Form Group-->
                        <div class="form-group">
                            <!--List Group: Unordered-->
                            <ul class="list-group" id="filters">
                                <!--List-->
                                <li class="filter list-group-item">
                                    <!--Label for Form-->
                                    <label for="start-date">Start Date:
                                        <span id="start-date-selection"></span>
                                    </label>
                                    <!--Input: for date-->
                                    <input class="form-control" id="startDatetime" type="text" placeholder="2010-01-01">
                                    <!-- <div id="search-notes">
                                        <p>Possible Date Range: </p>
                                        <p>2010-01-01 to 2017-08-23</p>
                                    </div> -->
                                    <!--Button for submitting form-->
                                <div class="text-center">
                                    <button id="start-filter-button" type="button" class="btn btn-default">Filter by Date</button>
                                </div>
                                </li>
                            </ul>
                        </div>
                    </form>

                </div>
                <div class="col-md-6" id="end-date-form">
                    <!--End Date Form-->
                    <form id="form">
                        <!--Form Group-->
                        <div class="form-group">
                            <!--List Group: Unordered-->
                            <ul class="list-group" id="filters">
                                <!--List-->
                                <li class="filter list-group-item">
                                    <!--Label for Form-->
                                    <label for="end-date">End Date:
                                        <span id="end-date-selection"></span>
                                    </label>
                                    <!--Input: for date-->
                                    <input class="form-control" id="endDatetime" type="text" placeholder="2017-08-23">
                                    <!-- <div id="search-notes">
                                        <p>Possible Date Range: </p>
                                        <p>2010-01-01 to 2017-08-23</p>
                                    </div> -->
                                    <!--Button for submitting form-->
                                <div class="text-center">
                                    <button id="end-filter-button" type="button" class="btn btn-default">Filter by Date</button>
                                </div>
                                </li>
                            </ul>
                        </div>
                    </form>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12" id="endpoint-button">
            <div class="text-center">
                <!-- <button id="search-button" type="button" class="btn btn-default">Search</button> -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>Available Date Range: 2010-01-01 to 2017-08-23</p>
        </div>
    </div>

    <!--Import JavaScript & d3-->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="../static/js/app.js"></script>

    </body>